@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div> 
        <h1>MVC Error</h1>
        <p>Controller: @Model.ControllerName</p>
        <p>Action: @Model.ActionName</p>
        <p>Message: @Model.Exception.Message</p>
    </div>
</body>
</html>
